@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.scrollpySessoes{
    padding: 15px;
}

.card {
    font-family: 'Amiri', serif;
}

#jumbotronApresentacao{
    margin: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    align-content: space-between;
}

#jumbotronApresentacao img{
    margin: 10px;
    min-width: 100px;
    max-width: 150px;
    min-height: 125px;
    max-height: 175px;
}

#jumbotronApresentacao div{
    align-items: center;
}

#jumbotronApresentacao blockquote{
    width: 500px;
    min-width: 20%;
    max-width: 100%;
    font-size: 18px;
}

#carrosselPrincipal{
    text-align: center;
    padding: 10px;
    background-image: radial-gradient(rgb(215, 215, 215), rgb(190, 190, 190), rgb(150, 150, 150), rgb(110, 110, 110), rgb(75, 75, 75));
}

#carrosselPrincipal img{
    width: 700px;
    max-width: 100%;
    max-height: 100%;
}

#scrollpyProjetos .pre-scrollable{
    height: 250px;
    position: relative;
}

#jumbotronRodape{
    margin: 5px;
    padding: 15px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}